@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@600;700&family=Roboto+Mono&family=Rubik:wght@400;500;600;700&family=Source+Code+Pro&display=swap');

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif;
font-family: 'Source Code Pro', monospace; */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
}
:root{
  --base-theme:rgb(233, 62, 68);
}